@import "../../../styles/shared.styl"

.storycard
  border-top 3px solid red
  cursor move
  noSelect()
  
.story-button
  background-color #6E0016
  color white
  cursor move
  padding 10px
  border-radius 10px
  text-align center
  noSelect()
  cursor pointer
