@import "../../../styles/shared.styl"

.vertDiv
  background-color #7CFB74
  overflow-y scroll
  // overflow scroll !important
  height calc(100vh - 100px)
  border 1px dashed red
  -webkit-overflow-scrolling touch
  z-index 2 !important
  margin 5px
